.menu{
    width: 100%;
    padding: 70px 0;
}   
.menu h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    color:white; 
}
 
.menu h1 span{
    color: #31f3fa;
    margin-left: 15px;
    font-family: mv boli ;
}

.menu h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #31fadf;
    display: block;
    position: relative;
    bottom: 15px;
}

.menu .menu_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:15px;
}
  
.menu .menu_box .menu_card{
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.menu .menu_box .menu_card .menu_image{
    width: 300px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}
.menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
    object-position: cover;
    transition: 0.3s;
}

.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
}

.menu .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.menu .menu_box .menu_card:hover .small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}

.menu .menu_box .menu_card .small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: #000;
    cursor: pointer;
    text-shadow: 0 0 6px #000;
    transition: 0.2s;
}

.menu .menu_box .menu_card .small_card i:hover{
    color:#fac031
}

 .menu .menu_box .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: #fac031;
 }  

 .menu .menu_box .menu_card .menu_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
    color:rgb(242, 245, 248);
 }

 .menu .menu_box .menu_card .menu_info h3{
    text-align: center;
    margin-top: 10px;
    color:antiquewhite
 }

 .menu .menu_box .menu_card .menu_info .menu_icon1{
    color: #fac031;
    text-align: center;
    margin: 10px 0 20px 0;
 }

 .menu .menu_box .menu_card .menu_info .menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: #000;
    padding: 8px 10px;
    margin: 0 80px;
    transition: 0.3s;
 }
 .wrapper{
    min-height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url('about\ bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }